.about {
  position: relative;
  display: flex;
  width: 90vw;
  min-width: 1024px;
  height: 80vh;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  overflow: hidden;
  animation: startPage 1 0.2s;
}
@keyframes startPage {
  from {
    opacity: 50%;
  }
  to {
    opacity: 100%;
  }
}
.description {
  position: absolute;
  top: 0;
  left: 0;
  width: 28%;
  height: 100%;
  padding: 50px 80px;
  border-right: 1px solid black;
  background-color: white;
  transition: 0.2s;
  z-index: 3;
}

.description:hover {
  width: 42%;
  /* box-shadow: 0px 0px 50px 30px rgba(0, 0, 0, 0.5); */
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.8);
}

.description p {
  overflow: hidden;
  height: 100%;
}

.workers {
  position: absolute;
  top: 0;
  width: 22%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 0.8em;
}
.first {
  left: 28%;
  background-color: black;
  color: white;
  border-right: 1px solid black;
  transition: 0.2s;
  z-index: 2;
}
.first:hover {
  width: 36%;
  /* box-shadow: 0px 0px 50px 30px rgba(0, 0, 0, 0.5); */
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.8);

  font-size: 1em;
  z-index: 3;
}
.secound {
  right: 28%;
  border-left: 1px solid black;
  background-color: white;
  transition: 0.2s;
  z-index: 1;
}
.secound:hover {
  z-index: 2;
  width: 36%;
  /* box-shadow: 0px 0px 50px 30px rgba(0, 0, 0, 0.5); */
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.8);

  font-size: 1em;
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.description:hover p,
.secound:hover p,
.first:hover p {
  animation: appear 0.2s linear;
}
.portrait {
  width: 200px;
  min-height: 250px;
  background-color: #eee;
  margin: 0 auto 10px;
}

.workers_about {
  flex-grow: 1;
  overflow: hidden;
}
.workers_about > p {
  padding: 10px 30px;
  text-align: center;
}
.gallery {
  position: absolute;
  top: 0;
  right: 0;
  width: 28%;
  height: 100%;
  background-color: white;
  border-left: 1px solid black;
  z-index: 1;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.gallery:hover {
  width: 42%;
  /* box-shadow: 0px 0px 50px 30px rgba(0, 0, 0, 0.5); */
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.8);

  /* z-index: 2; */
}
.gallery_icons {
  position: relative;
  width: 12vh;
  height: 12vh;
  /* border: 1px solid grey; */
  border-radius: 50%;
  background-color: rgb(204, 228, 220);
  cursor: pointer;
  overflow: hidden;
}

.gallery_icons img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

/* .popup {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.788);
} */
