.projects {
  width: 90vw;
  min-width: 1024px;
  height: 80vh;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  overflow: hidden;
  animation: startPage 1 0.2s;
}
.stripe {
  width: 1px;
  /* height: 100%; */
  background-color: grey;
}
.projects_gallery {
  flex-basis: 25%;
  animation: softmove 4s infinite alternate;
}
.projects_gallery:hover {
  animation-play-state: paused;
  z-index: 1;
}
.projects_container {
  padding: 1vh 0 5vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s;
}
@keyframes softmove {
  100% {
    transform: translateY(-2%);
  }
}
.projects_container:hover {
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.8);
}
.project {
  width: 37vh;
  height: 37vh;
  margin: 1vh 0;
  background-color: #ccc;
  cursor: pointer;
  transition: 0.2s;
}
.project:hover {
  background-color: #aaa;
}
